@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');  
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}
input{
    background-color:rgb(252, 252, 252);
    outline: none;
    padding: 12px;
    border:1px solid rgb(196, 196, 196);
    font-size: large;
    width:450px;
    border-radius: 12px;
}
textarea {
    background-color:rgb(252, 252, 252);
    outline: none;
    padding: 12px;
    border:1px solid rgb(196, 196, 196);
    font-size: large;
    width: 450px;
    height:100px;
    border-radius: 12px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    text-align: center;
    margin-bottom:50px;
    
}
.btn{
    width:450px;
    font-size:large;
    border: 2px solid #4285f4;
    height:50px;
    background-color: transparent;
    color: #4285f4;
    border-radius:12px;
}
.btn:hover{
    background-color: #4285f4;
    color: #ffffff;
    cursor: pointer;
    transition:0.7s;
}