<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="default">
<head>
    <link rel="stylesheet" href="/css/add.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Hotel</title>
</head>
<body>
    <div class="add-crd" layout:fragment="addhospitals">
    <form th:action="@{/addhospitals}" method="post">
        <h3>Add a new Hospital</h3>
        <br>
        <input type="text" required name="name" placeholder="Name"/>
        <br>
        <br>
        <input type="text" required name="address" placeholder="Address"/>
        <br>
        <br>
        <input type="text" required name="areas" placeholder="Areas served"/>
        <br>
        <br>
        <input type="text" required name="contact" placeholder="Contact number"/>
        <br>
        <br>
        <input type="text" required name="website" placeholder="Website"/>
        <br>
        <br>
        <input type="text" required name="covid" placeholder="Covid Treatment"/>
        <br>
        <br>
        <button class="btn" type="submit">Add</button>
    </form>
</div>
</body>
</html>