<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="default">
<head>
    <link rel="stylesheet" href="/css/add.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Place</title>
</head>
<body>
    <div class="add-crd" layout:fragment="addtours">
    <form th:action="@{/addtours}" method="post">
        <h3>Add a new place</h3>
        <br>
        <input type="text" required name="name" placeholder="Name"/>
        <br>
        <br>
        <input type="text" required name="famous" placeholder="Famous"/>
        <br>
        <br>
        <input type="text" required name="location" placeholder="Location"/>
        <br>
        <br>
        <input type="text" required name="timings" placeholder="Timings"/>
        <br>
        <br>
        <input type="text" required name="ratings" placeholder="Ratings"/>
        <br>
        <br>
        <textarea type="text" required name="desc" placeholder="Description"></textarea>
        <br>
        <br>
        <button class="btn"type="submit">Add</button>
    </form>
</div>

</body>
</html>