<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <link href="css/unis.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>
</head>
<body>
   
                                  

	<div layout:fragment="unis">
        <p class="add-btn">Universities</p>
    <div style="height: 100vh; width: 100%;" th:if="${unis}">
        
        <div class="job-card">
            <div th:each="uni: ${unis}" class="i-card" >
                <h3 th:text="${uni.name}">Title</h3>
                <br>
                <h4>Location</h4>
                <p th:text="${uni.location}">Qualifications</p>
                <br>
                <h4>Courses Offered</h4>
                <p th:text="${uni.branches}">Experience</p>
                <br>
                <h4>Contact Number</h4>
                <p th:text="${uni.contact}">Location</p>
                <br>
                <h4>NAAC Grade</h4>
                <p th:text="${uni.rating}">Location</p>
                <br>
                <h4>Year of establishment</h4>
                <p th:text="${uni.estd}">Location</p>
            </div>
        </div>
    </div>
	</div>
</body>
</html>